{{ docType() }}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}VinariCore{% endblock title %}</title>

        <!-- {{ webServerEnvironment|upper }} {{ webServerName }} -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}{% endblock meta %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Favicon -->
        <link type="image/png" rel="icon" href="/assets/images/favicon.png" />

        <!-- Le styles -->
        <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,100,900" />
        <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="/assets/css/ni.min.css" />
        {% block style %}{% endblock style %}

        <!-- Scripts -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/js/ni.min.js"></script>
        {% block script %}{% endblock script %}

    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="{{ url('home') }}"><span>NodusOperandi</span></a>
        </nav>
        <div class="container-fluid">
            <nav class="left-nav" role="navigation">
                <ul>
                    {% if zfcUserIdentity() %}
                        <li><a href="/"><span class="nav-icon-container"><span class="fa fa-tachometer"></span></span> Dashboard</a></li>
                        <li><a href="/devices"><span class="nav-icon-container"><span class="fa fa-puzzle-piece"></span></span> Devices</a></li>
                        <li><a href="/clients"><span class="nav-icon-container"><span class="fa fa-desktop"></span></span> Clients</a></li>
                        <li><a href="/statistics"><span class="nav-icon-container"><span class="fa fa-area-chart"></span></span> Statistics</a></li>
                        <li><a href="/settings"><span class="nav-icon-container"><span class="fa fa-gear"></span></span> Settings</a></li>
                        <li><a href="/log-out"><span class="nav-icon-container"><span class="fa fa-sign-out"></span></span> Log out</a></li>
                    {% else %}
                        <li><a href="/log-in"><span class="nav-icon-container"><span class="fa fa-sign-in"></span></span> Log in</a></li>
                    {% endif %}
                    <li></li>
                </ul>
            </nav>
            <section class="main-pane">
                {% include "partials/flash-messenger" %}
                {% block content %}{{ content|raw }}{% endblock content %}
            <section>
        </div> <!-- /container -->
        {{ inlineScript() }}
    </body>
</html>
